<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- 自动扫描包 -->
	<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
	<mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>
	<mvc:default-servlet-handler/>
	<bean id="swagger2Config" class="com.idea4j.common.swagger.SwaggerConfig"/>
	<!-- 配置国际化资源文件路径 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<!-- 定义消息资源文件的相对路径 -->
		<property name="basename" value="message/message" />
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
	<!-- 基于Cookie的本地化解析器 -->
	<!-- <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieMaxAge" value="604800"/> <property name="defaultLocale" value="zh_CN"/>
		 <property name="cookieName" value="Language"></property> 
		</bean> -->
	<!-- 基于Session的本地化解析器 -->
	<!--<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" /> -->


</beans>